.no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
  }
  